spring:
  flyway:
    enabled: true
    locations: classpath:db/migration
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: ${PGPASSWORD:postgres}

  
